    {% extends 'base.html' %}

    {% block content %}
    {% include 'navbar.html' %}
    <div class="min-h-screen flex flex-col items-center bg-gray-50 px-4 py-12 mt-9">
        <div class="max-w-5xl w-full bg-white p-8 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold mb-6">MyPay Transaction</h2>

            <div class="bg-gray-50 shadow-md rounded-lg p-6 mb-8">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-xl font-semibold text-gray-800">Your MyPay Balance</h3>
                    <span class="text-gray-600 font-mono">{{ request.session.user.nama }}</span>  <!-- Display user's no_hp -->
                </div>
                <div class="flex items-center justify-between">
                    <p class="text-4xl font-extrabold text-gray-900">Rp {{ user.saldo_mypay|floatformat:2 }}</p>  <!-- Display user's saldo_mypay -->
                    <p id="current-date" class="text-gray-600 font-mono py-2 px-4 rounded "></p>
                </div>
            </div>

            <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="kategori" class="block text-gray-700 text-lg font-bold mb-2">Transaction Category</label>
                    <select id="kategori" name="kategori" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        {% for category in category_data %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="transaction-details" class="mb-4">
                    <!-- Transaction Details will be dynamically loaded here -->
                </div>

                <div class="flex justify-end">
                    <button id="submitButton" type="submit" class="px-6 py-2 bg-green-500 text-white rounded hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300">Pay</button>
                </div>
            </form>
        </div>
    </div>


    <script>
        const kategoriSelect = document.getElementById('kategori');
        const transactionDetails = document.getElementById('transaction-details');
        const submitButton = document.getElementById('submitButton');

        const transactionStates = {
            'Topup MyPay': `
                <div class="mb-4">
                    <label for="nominal_topup" class="block text-gray-700 text-lg font-bold mb-2">TopUp Amount</label>
                    <input type="number" id="nominal_topup" name="nominal_topup" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter amount" />
                </div>
            `,
            'Membayar transaksi jasa': `
                <div class="mb-4">
                    <label for="jasa" class="block text-gray-700 text-lg font-bold mb-2">Service</label>
                    <select id="jasa" name="jasa" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="empty"></option>
                        {% for tr in tr_data %}
                            <option value="{{ tr.id }}">{{ tr.nama_subkategori }}, {{ tr.deskripsi }} ({{tr.sesi}} Sesi)</option>
                        {% endfor %}
                    </select>

                    <label for="harga_jasa" class="block text-gray-700 text-lg font-bold mb-2 mt-4">Price</label>
                    <input type="text" id="harga_jasa" name="harga_jasa" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" value="0" readonly />
                </div>
            `,
            'Transfer MyPay ke pengguna lain': `
                <div class="mb-4">
                    <label for="no_hp_tujuan" class="block text-gray-700 text-lg font-bold mb-2">Recipient Phone Number</label>
                    <input type="text" id="no_hp_tujuan" name="no_hp_tujuan" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter phone number" />

                    <label for="nominal_transfer" class="block text-gray-700 text-lg font-bold mb-2 mt-4">Transfer Amount</label>
                    <input type="number" id="nominal_transfer" name="nominal_transfer" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter amount" />
                </div>
            `,
            'Withdrawal MyPay ke rekening bank': `
                <div class="mb-4">
                    <label for="bank" class="block text-gray-700 text-lg font-bold mb-2">Bank</label>
                    <select id="bank" name="bank" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="bca">BCA</option>
                        <option value="bni">BNI</option>
                        <option value="mandiri">Mandiri</option>
                    </select>

                    <label for="rekening" class="block text-gray-700 text-lg font-bold mb-2 mt-4">Account Number</label>
                    <input type="text" id="rekening" name="rekening" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter account number" />

                    <label for="nominal_withdrawal" class="block text-gray-700 text-lg font-bold mb-2 mt-4">Withdrawal Amount</label>
                    <input type="number" id="nominal_withdrawal" name="nominal_withdrawal" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter amount" />
                </div>
            `
        };

        kategoriSelect.addEventListener('change', () => {
            const selectedCategory = kategoriSelect.value;
            transactionDetails.innerHTML = transactionStates[selectedCategory] || '';
            submitButton.textContent = selectedCategory === 'Topup MyPay' ? 'Top Up' : 'Pay';

            if (selectedCategory === 'Membayar transaksi jasa') {
                const jasaSelect = document.getElementById('jasa');
                const hargaJasaInput = document.getElementById('harga_jasa');

                jasaSelect.addEventListener('change', function() {
                    const selectedServiceId = jasaSelect.value;
                    console.log(selectedServiceId);  

                    // AJAX request to fetch service price
                    fetch(`/merah/get-service-price/${selectedServiceId}/`, { 
                            headers: { "X-Requested-With": "XMLHttpRequest" } 
                        })
                        .then(response => response.json())
                        .then(data => {

                            if (data.total_biaya !== null) {
                                hargaJasaInput.value = data.total_biaya;
                            } else {
                                hargaJasaInput.value = 'Price not available';
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching price:', error);
                            hargaJasaInput.value = 'Error fetching price';
                        });
                });
            }
        });

        // Trigger initial display
        kategoriSelect.dispatchEvent(new Event('change'));

        function displayCurrentDate() {
            const dateElement = document.getElementById('current-date');
            const now = new Date();
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            dateElement.textContent = now.toLocaleDateString('id-ID', options);
        }

        displayCurrentDate()
    </script>

    {% endblock %}